body {
    background-color: lavender;
}

.songs {
    display: flex;
    background-color: rgb(177, 247, 170);
    animation: change 700000ms 1;
    border-radius: 20px;
    justify-content: space-evenly;
    padding: 3px;
    margin-top: 20px;
    max-width: 140vh;
}
#now {
    color: lightseagreen;
    animation: change;
}
@keyframes change {
    from {
        background-color: rgb(177, 247, 170);
    }
    to {
        background-color: rgb(231, 10, 10);
    }
}
#songs {
    font-size: 30px;
    align-items: stretch;
    padding: 5px;
    margin-top: 30vh;
}
#playlists {
    display: flex;
    font-size: 30px;
    align-items: stretch;
    padding: 5px;
}
.playlists {
    background-color: rgb(152, 212, 117);
    min-width: 400px;
    max-height: 500px;
    border-radius: 20px;
    margin-left: 20px;
}
.playlists div {
    position: relative;
    left: 20px;
}
.header {
    position: relative;
    left: 600px;
    top: 50px;
    font-size: 50px;
}
